<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            .mkhidden{
                display: none;
            }
        </style>
    </head>

    <body>
        <h2>
            실습
        </h2>
        <div>
            <button id="loginBtn" type="button" onclick="location.href='/toLogIn'">로그인</button>
            <button id="logoutBtn" type="button" class="mkhidden" onclick="logout()">로그아웃</button>
        </div>
        <div>
            <button id="signup" type="button" onclick="location.href='/toSignUp'">회원가입</button>
            <div id="userid"></div>
            <div id="name"></div>
        </div>
    </body>
    <script>
        
        if(localStorage.getItem("login")==1){
            document.getElementById('loginBtn').classList.add('mkhidden')
            document.getElementById('signup').classList.add('mkhidden')
            document.getElementById('logoutBtn').classList.remove('mkhidden')
            document.getElementById('userid').innerText="아이디 : "+localStorage.getItem("userid")
            document.getElementById('name').innerText="이름 : "+ localStorage.getItem("name")
        }
        function logout(){
            localStorage.clear()
            window.location.reload()
        }
    </script>
</html>
