<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <H2>회원가입</H2>

    <form name="idpwname">
        <label for='id'>아이디</label><input type="text" name="id">
        <label for='pw'>패스워드</label><input type="password" name="pw">
        <label for='name'>이름</label><input type="text" name="name">
    </form>
    <button type="button" onclick="request()">제출</button>
    <script>


        async function request(){
            console.log('request')
            const form = document.forms['idpwname']
            const id = form['id'].value
            const pw = form['pw'].value
            const name = form['name'].value
            let result=await axios({
                method : "POST",
                url : "/SignUp",
                data : {
                    id,pw,name
                }
            })
            if(result.data.code==1){
                alert("회원가입성공")
                history.back()
            }else{
                alert("회원가입실패")
                window.location.reload()
            }

        }
    </script>
</body>
</html>