<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>잘못된 페이지입니다</h1>
    <b>잘못된 경로입니다.</b>
    <a href="/">메인페이지로</a>
    
</body>
</html>