<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4><% let arrays = startArray; %></h4>

    <% for(let starter of startArray){ %>
    <% for(var i=1; i<10;i++){ %>
        <% let results = starter * i %>
        <%= console.log(results) %>
        <div> <%= starter %> *  <%= i %>  = <%= results %> </div>
    <% } %>
    <br>
    <hr>

    <% } %>
</body>
</html>
