<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% let go1= goto[0];  %>
    <% let go2= goto[1];  %>
    <a href= <%= go1 %> >go to web 1</a>
    <br>
    <hr>
    <br>
    <a href= <%= go2 %> >go to web 2</a>
</body>
</html>