<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><a href = "/setCookie">쿠키설정하기</a></div>    
    <a href = "/getCookie">쿠키얻기</a>
    <a href = "/clearCookie">쿠키삭제</a>
</body>
</html>