<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
      <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <link href="/static/css/404.css" rel="stylesheet"> -->
    <style>
        .invisible{
            display: none;
        }
        .visible{
            display :block;
        }
    </style>
</head>
<body>
    <h1>로그인</h1>
    <form name="login_data">
        <label for="id">아이디</label>
        <input type="text" name="id" id="id">

        <label for="pw">패스워드</label>
        <input type="password" name="pw" id="pw">
        <br>
        <div id="successBox" class="invisible" >로그인에 성공했습니다.</div>
        <br>
        <button type="button" onclick="axiosPost()">로그인</button>
    </form>
    <form action="/user/to_sugang_main" method="POST" name="form_profile">
        <input type="hidden" name = "profile">
    </form>
    <script>

        function axiosPost(){
            console.log("axiosPost 실행확인")
            //폼 선택    
            const form =document.forms['login_data']
            console.log("로그인 버튼")
            let user_id=form.id.value
            let password=form.pw.value

            const data={
                user_id : user_id,
                password : password,
            }
            console.log(data)
            axios({
                method :"POST",
                url : "/login/reqSignIn",
                data,
            }).then((res)=>{
                let successBox =$("#successBox")
                console.log("res : " , res.data)
                console.log(successBox)
                let loginSuccess = res.data.result
                //나중에는...교수로그인도 해야겠ㅈ?
                if(loginSuccess){
                    alert("login 성공!")
                    localStorage.setItem("token",res.data.token)
                    localStorage.setItem("student_id",loginSuccess.student_id)
                    let requestForm = document.forms['form_profile']
                    requestForm.innerHTML =
                    `<input name=student_id value=${loginSuccess.student_id} type = "hidden">
                    <input name= user_id value=${loginSuccess.user_id} type = "hidden">
                    <input name=password value=${loginSuccess.password} type = "hidden">
                    `
                    requestForm.submit()
                }else{
                    alert("login 실패!")
                    window.location.reload();
                }
            })
           
        }

    </script>
</body>
</html>