<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1><%= data.name %>님 안녕하세요!</h1>
    <div><button type="button" onclick="register('<%= data.student_id %>','<%= data.student_id %>')">수강신청</button></div>
    <script>
        function register(student_id,name){
            console.log(localStorage.getItem("token"))
            if(localStorage.getItem('token')){
                axios({
                    url : "/user/to_sugang_register",
                    method : "POST",
                    headers : {
                        Authorization : `Bearer ${localStorage.getItem('token')}`
                    },
                    data : {
                        student_id,
                        name
                    }
                }).then((res)=>{
                    console.log(res)
                })
            }

        }
    </script>
</body>
</html>