<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>main</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div><button onclick="logout()">로그아웃</button></div>
    <div><button onclick="location.href='/members'">멤버리스트</button></div>

    <script>


        function logout(){
            axios({
                method : "GET",
                url : "/logOut"
            }).then(()=>{
                window.location.reload()
            })
        }
    </script>
</body>
</html>