<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/css/404.css" rel = 'stylesheet'>
</head>
<body>
    <div>에러입니다</div>
    <a href = "/user">홈으로</a>
</body>
</html>